/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.vert{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.hori{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td{
    text-align: center;
    font-size: 30px;
    width: 40px;
    height: 25px;
    font-weight: bold;
}

#veia{
    margin: auto;
}

#veia input{
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

#turnPlayer{
    font-weight: bold;
    font-size: 24px;
}

.newGame {
    animation-name: newGameAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.winner {
    animation-name: winner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes winner {
    0% {
        color: green;
    }

    20% {
        color: blue;
    }

    40% {
        color: purple;
    }

    60% {
        color: red;
    }

    80% {
        color: yellow;
    }

    100%{
        color: green;
    }
}

@keyframes newGameAnimation {
    0% {
        background-color: #EFEFEF;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: #EFEFEF;
    }
}